<a href="https://colab.research.google.com/github/sheikhparthib55/first_practice/blob/main/PyBasic_Pract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day_01**

In [ ]:
print("Hello world!")
print("My journey as a Python programmer, I am feeling very glad to share.")

Hello world!
My journey as a Python programmer, I am feeling very glad to share.

How to comment

In [ ]:
#As a student of Urban Development Dept I want to become an data analyst to provide accurate data overview to build the most livable city.

Variables

In [ ]:
name="Saiham Kasem Parthib"
print(name)
print(type(name))

Saiham Kasem Parthib
<class 'str'>

In [ ]:
saiham=kasem=parthib="name"
print(saiham)
print(kasem)

name
name

Let's unpack variables

In [ ]:
name=("saiham","kasem","Parthib")
a,b,c=name
print(a)
print(b)
print(c)

saiham
kasem
Parthib

In [ ]:
a="saiham"
b="kasem"
c="parthib"
print(a,b,c)
#we can also use-
print(a+b+c)

saiham kasem parthib
saihamkasemparthib

Global variable

In [ ]:
#Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

In [ ]:
Name="Parthib"
def myfunc():
  print("My name is", Name)
myfunc()

My name is Parthib

In [ ]:
name = "Partib"

def myfunc():
  name = "Saiham"
  print("My name is " + name)

myfunc()

print("My name is " + name)

My name is Saiham
My name is Partib

In [ ]:
x = 'awesome'
def myfunc():
  x = 'fantastic'
myfunc()
print('Python is ' + x)

Python is awesome

Data Type

In [ ]:
x="saiham"
print(type(x))
x1=20
print(type(x1))
x2=20.45
print(type(x2))
x3=2j
print(type(x3))
x4=False
print(type(x4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [ ]:
xlist=["saiham","kasem","parthib"]
xtuple=("saiham","kasem","parthib")
xdict={"fname":"saiham","midname":"kasem","lname":"parthib"}
print(xlist)
print(xtuple)
print(xdict)

['saiham', 'kasem', 'parthib']
('saiham', 'kasem', 'parthib')
{'fname': 'saiham', 'midname': 'kasem', 'lname': 'parthib'}

In [ ]:
#turn into another form
xtuple=list(("saiham","kasem","parthib"))
print(xtuple)
xlist=set(["saiham","kasem","parthib"])
print(xlist)

['saiham', 'kasem', 'parthib']
{'parthib', 'kasem', 'saiham'}

In [ ]:
import random
print(random.randrange(1,20))

5

Type casting

In [ ]:
x=int(3.7)
print(x)
x1=float(8)
print(x1)
x2=str(3)
print(x2)

3
8.0
3

Python String

In [ ]:
x="""saiham,
kasem,
parthib"""
print(x)

saiham,
kasem,
parthib

In [ ]:
x= "Saiham Kasem Parthib"
print(x[7])

K

In [ ]:
for x in "parthib":
  print(x)

p
a
r
t
h
i
b

In [ ]:
print(len("parthib"))

7

In [ ]:
name="saiham kasem parthib"
if "saiham"  in name:
  print("yes, it is.")

yes, it is.

In [ ]:
name="saiham kasem parthib"
if "saheikh"not in name:
   print("nothing")

nothing

In [ ]:
x="saiham kasem parthib"
print(x[7:12])

kasem

In [ ]:
x="saiham kasem parthib"
print(x[2:])

iham kasem parthib

In [ ]:
x="saiham kasem parthib"
print(x.upper())

SAIHAM KASEM PARTHIB

In [ ]:
x="saiham kasem parthib"
print(x.replace("saiham", "kasem")) # Assuming the user wanted to replace "saiham" with "kasem". The original syntax `0;5,7;12` is not valid for string replacement in Python.

kasem kasem parthib

In [ ]:
x="saiham"
y="kasem"
print(x+y)
print(x+" "+y)

saihamkasem
saiham kasem

In [ ]:
age=25
data=f"my name is Parthib, I am {age}"
print(data)

my name is Parthib, I am 25

In [ ]:
x="I am knowned as \"silent killer\" in my circle"
print(x)

I am knowned as "silent killer" in my circle

In [ ]:
print(10>9)
print(10<9)

True
False

Python list

In [ ]:
name=["saiham","kasem","parthib"]
print(name)
print(type(name))
print(name[2])
print(name[0:])
if "saiham" in name:
  print("yes, found this ")
#name[0]="'saiham' is disappeared"
print(name)
name.append("sheikh")
print(name)
name.insert(0,"sheikh")
print(name)

['saiham', 'kasem', 'parthib']
<class 'list'>
parthib
['saiham', 'kasem', 'parthib']
yes, found this
['saiham', 'kasem', 'parthib']
['saiham', 'kasem', 'parthib', 'sheikh']
['sheikh', 'saiham', 'kasem', 'parthib', 'sheikh']

In [ ]:
name=["saiham","kasem","parthib"]
name1=["people also called me Mehedi"]
name.extend(name1)
print(name)

['saiham', 'kasem', 'parthib', 'people also called me Mehedi']

In [ ]:
list=["mango","coconut","jackfruit"]
tuple=("avocado","dragon")
list.extend(tuple)
print(list)

['mango', 'coconut', 'jackfruit', 'avocado', 'dragon']

In [ ]:
list=["mango","coconut","jackfruit"]
list.insert(0,"lime")
print(list[1])

mango

In [ ]:
list=["mango","coconut","jackfruit"]
list.remove("mango")
print(list)

['coconut', 'jackfruit']

In [ ]:
list=["mango","coconut","jackfruit"]
list.pop(1)
print(list)

['mango', 'jackfruit']

In [ ]:
list=["mango","coconut","jackfruit"]
del list

In [ ]:
list=["mango","coconut","jackfruit"]
list.clear()
print(list)

[]

In [ ]:
list=["mango","coconut","jackfruit"]
for x in list:
  print(x)

mango
coconut
jackfruit

In [ ]:
list=["mango","coconut","jackfruit"]
print(len(list))
print(range(len(list)))

3
range(0, 3)

In [ ]:
list=["mango","coconut","jackfruit"]
i=0
while i<len(list):
  print(list[i])
  i=i+1

mango
coconut
jackfruit

In [ ]:
list=["mango"]
i=0
while i<len(list):
  print(list[i])
  i=i+1

mango

In [ ]:
list=["mango","coconut","jackfruit"]
newlist=[x for x in list if "n" in x]
print(newlist)

['mango', 'coconut']

In [ ]:
new=[x for x in range(11)]
print(new)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list=["mango","coconut","jackfruit"]
new=[x.upper() for x in list]
print(new)

['MANGO', 'COCONUT', 'JACKFRUIT']

In [ ]:
list=["mango","coconut","jackfruit"]
list.sort()
print(list)
list.sort(reverse=True)
print(list)

['coconut', 'jackfruit', 'mango']
['mango', 'jackfruit', 'coconut']

copy a list

In [ ]:
list=["mango","coconut","jackfruit"]
#list2=list.copy()
#list2=list[:]
print(list2)

['mango', 'coconut', 'jackfruit']

In [ ]:
l1=["sauiham","kasem"]
l2=["parthib"]
#l=l1+l2
#print(l)
#for x in l1:
 # l2.append(x)
  #print(l2)
l1.extend(l2)
print(l1)

['sauiham', 'kasem', 'parthib']

In [ ]:
tup=('sauiham', 'kasem', 'parthib')
print(tup)
type(tup)
#Tuple allows duplicate values
print(len(tup))
#Tuple items can be of any data type:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tup[1])
print(tup[0])
print(tup[0:2])
if "sauiham" in tup:
  print("here is ie")

('sauiham', 'kasem', 'parthib')
3
kasem
sauiham
('sauiham', 'kasem')
here is ie

In [ ]:
tup=('sauiham', 'kasem', 'parthib')
x=list(tup)
x[0]="Md"
tup=tuple(x)
print(tup)

('Md', 'kasem', 'parthib')

In [ ]:
tup=('sauiham', 'kasem', 'parthib')
x=list(tup)
x.append("md")
tup=tuple(x)
print(x)

['sauiham', 'kasem', 'parthib', 'md']

In [ ]:
# When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.
#for example
t=("sheikh",)

In [ ]:
tup=('sauiham', 'kasem', 'parthib')
x=list(tup)
x.remove("kasem")
tup=tuple(x)
print(x)

['sauiham', 'parthib']

In [ ]:
tup=('sauiham', 'kasem', 'parthib')
(fname, mname, lname)=tup
print(fname)
print(mname)

sauiham
kasem

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits=("apple","mango","papaya","pineapple","cherry")
(green,*tropic,red)=fruits
print(tropic)
print(red)

['mango', 'papaya', 'pineapple']
cherry

In [ ]:
fruits=("apple","mango","papaya","pineapple","cherry")
for x in fruits:
  print(x)

apple
mango
papaya
pineapple
cherry

In [ ]:
fruits=("apple","mango","papaya","pineapple","cherry")
i=0
while i< len(fruits):
  print(i)
  i=i+1

0
1
2
3
4

# **SET**

In [ ]:
#set
#Set items are unchangeable, but you can remove items and add new items.
s=fruits={"apple","mango","papaya","pineapple","cherry"}
print(fruits)
#Sets are unordered, so you cannot be sure in which order the items will appear.
#Sets cannot have two items with the same value.
#True and 1 are considered the same
#False and 0 are considered the same value

{'mango', 'pineapple', 'apple', 'cherry', 'papaya'}

In [ ]:

fruits={"apple","mango","papaya","pineapple","cherry"}
print(fruits)
print(len(fruits))
type(fruits)

{'mango', 'pineapple', 'apple', 'cherry', 'papaya'}
5

set

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
fruits=set(("apple","mango","papaya","pineapple","cherry"))
print(fruits)

{'mango', 'pineapple', 'apple', 'cherry', 'papaya'}

In [ ]:
fruits={"apple","mango","papaya","pineapple","cherry"}
for x in fruits:
  print(x)

mango
pineapple
apple
cherry
papaya

In [ ]:
fruits={"apple","mango","papaya","pineapple","cherry"}
print("mango" in fruits)

True

In [ ]:
fruits={"apple","mango","papaya","pineapple","cherry"}
fruits.add("coconut")
print(fruits)

{'mango', 'pineapple', 'apple', 'cherry', 'papaya', 'coconut'}

In [ ]:
fruits={"apple","mango","papaya","pineapple","cherry"}
#tup=('sauiham', 'kasem', 'parthib')
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
tup=['sauiham', 'kasem', 'parthib']
fruits.update(tup)
print(fruits)

{'sauiham', 'mango', 'pineapple', 'apple', 'kasem', 'cherry', 'papaya', 'parthib'}

In [ ]:
fruits={"apple","mango","papaya","pineapple","cherry"}
fruits.remove('apple')
print(fruits)
fruits.pop()
fruits.clear()
print(fruits)

{'papaya', 'mango', 'pineapple', 'cherry'}
set()

In [ ]:
fruits={"apple","mango","papaya","pineapple","cherry"}
tup={'sauiham', 'kasem', 'parthib'}
fruits.union(tup)
print(fruits)
new=fruits|tup
print(new)
fruits.intersection_update(tup)
print(fruits)

{'papaya', 'mango', 'pineapple', 'apple', 'cherry'}
{'papaya', 'sauiham', 'mango', 'kasem', 'pineapple', 'parthib', 'apple', 'cherry'}
set()

In [ ]:
#You can join multiple sets by using union
fruits={"apple","mango","papaya","pineapple","cherry"}
name={'sauiham', 'kasem', 'parthib'}
vegies={"pumpkin","cucumber","potato","tomato"}
total=fruits.union(name,vegies)
print(total)
tot_1=fruits|name|vegies
print(tot_1)
#use of updates()
print(fruits.update(name))

{'papaya', 'mango', 'pineapple', 'parthib', 'pumpkin', 'tomato', 'cherry', 'cucumber', 'kasem', 'potato', 'apple', 'sauiham'}
{'papaya', 'mango', 'pineapple', 'parthib', 'pumpkin', 'tomato', 'cherry', 'cucumber', 'kasem', 'potato', 'apple', 'sauiham'}
None

In [ ]:
fruits={"apple","mango","papaya","pineapple","cherry"}
name={'sauiham', 'kasem', 'parthib'}
fruits.update(name)
print(fruits)

{'papaya', 'sauiham', 'mango', 'kasem', 'pineapple', 'parthib', 'apple', 'cherry'}

In [ ]:
# to print the common values within multiple sets you can use intersection() and use &, but intersection() can be used in different data types whereas & function can't
# common jinis print korte intersection kintu common element gulo bad diye print korte hole symmetric_difference_update
fruits={"apple","mango","papaya","pineapple","cherry"}
name={'sauiham', 'kasem', 'parthib',"mango"}
#fruits.intersection_update(name)
#print(fruits)
fruits.symmetric_difference_update(name)
print(fruits)
nnn=fruits.difference(name)
print(nnn)
# ekta mojar bepar ache seta holo difference_update() use korle notun kore arekta set e return pete hoy na rather eta existing set kei modify kore

{'papaya', 'sauiham', 'kasem', 'pineapple', 'parthib', 'apple', 'cherry'}
{'papaya', 'apple', 'cherry', 'pineapple'}

# Dictionaries

In [ ]:
myname={"fname":"saiham","mname":"kasem","surname":"parthib"}
print(myname)
print(myname["fname"])
print(len(myname))
print(type(myname))
#dict kintu changable ebong duplicate ney na

{'fname': 'saiham', 'mname': 'kasem', 'surname': 'parthib'}
saiham
3
<class 'dict'>

In [ ]:
#dict() method use kore dictionary banano jay
hello=dict(vegi=["potato","tomato"], quant=300,taste="good")
print(hello)
x=hello.keys()
print(x)
x1=hello.values()
print(x1)
hello["color"]="red"
print(hello)
hello["vegi"]=["potato","tomato","carrot"]
print(hello)
if "vegi" in hello:
  print("i found that")

{'vegi': ['potato', 'tomato'], 'quant': 300, 'taste': 'good'}
dict_keys(['vegi', 'quant', 'taste'])
dict_values([['potato', 'tomato'], 300, 'good'])
{'vegi': ['potato', 'tomato'], 'quant': 300, 'taste': 'good', 'color': 'red'}
{'vegi': ['potato', 'tomato', 'carrot'], 'quant': 300, 'taste': 'good', 'color': 'red'}